*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #252525;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.rating{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
  display: flex;
}

.rating input{
  display: none;
}

.rating label{
  display: block;
  cursor: pointer;
  width: 80px;
  margin: 0 15px;
}

.rating label:before{
  content: '\f005';
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: 80px;
}

.rating label:after{
  content: '\f005';
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: 80px;
  color: #fbff00;
  top: 0;
  opacity: 0;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
  opacity: 1;
}